body {
  color: white;
  background-color: black;
}

.container {
  /* tüm icerigi kapsayan div */

  /* icerikleri girdigim container'ı sayfanın %95'i olacak sekilde ayarladim ve ortaladim */
  background-color: rgba(128, 128, 128, 0.415);
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

#title {
  /* Martin Lieber */
  text-align: center;
  font-size: 60px;
  font-family: "Lobster", cursive;
}

img {
  /* stan lee's picture */
  width: 265px;
  border-radius: 25px;
  text-align: center;
}

#div-img {
  /* img(resim) kapsayan div */
  text-align: center;

   /* img'nin altindaki yazi */
   padding-top: 0%;
   font-size: 16px;
   font-weight: 400;s
}


#content {
  /* icerigin girildigi yer */

  /* icerigin %75'ini kapsa ve margin:auto ile ortala */
  width: 80%;
  margin: auto;
  /* icerigin sagdan ve soldan hizalanmasini saglar */
  text-align: justify;
}

h3 {
  /* Marvel Comics */

  color: red;
  font-family: "Lobster", cursive;
  display: block;
  font-size: 24px;
  
  /* margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 10%; */
}

/* #comics {
  width: 75%;
  margin: auto;
  text-align: justify;
} */

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  width: 75%;
  margin: auto;
}

/* li {
  /* display: list-item; */
  /* font-size: 24px; */
  /* text-align: -webkit-match-parent; */
  /* margin-bottom: 30px; */